@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

a {
    color: white;
    text-decoration: none;
}

/* começo do header */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #045993;
    padding: 10px 20px;
    color: white;
    top: -1px;
}

.logo {
    width: 55px;
}

.conjunto-nome {
    margin-right: 1000px;
    display: flex;
}

.nome-header {
    font-size: 24px;
    padding: 10px;
}

.menu {
    margin-right: 20px;
}

.pesquisar-container {
    display: flex;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
}

input[type="text"] {
    width: 150px;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    flex: 1;
}

.dropdown {
    background: #FFD700;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    text-align: center;
    min-width: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0px 60px 0px 0;
}

/* fim do header */
.container {
    max-width: 960px;
    margin: 20px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #212529;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.order-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.status-item {
    text-align: center;
    position: relative;
    width: 30%;
}

.status-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #343a40;
    transform: translateY(-50%);
    z-index: -1; /* Changed to -1 */
}

.status-item:first-child::before {
    left: 0%;
}

.status-item:last-child::before {
    right: 0%;
}

.status-text {
    font-size: 0.9rem;
    color: #6c757d;
}


/* sidebar */
.sidebar {

    background-color: #00A3E0 !important;
    position: fixed;
    left: -550px;
    top: 0;
    width: 260px;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    padding: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99999 !important;
}

.sidebar h1 {
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.itens {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    padding: 0;
}

.itens ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.itens li {
    margin-bottom: 15px;
}

.itens a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.itens a::after {
    content: ">";
    font-size: 18px;
    position: absolute;
    right: 10px;
}

#closeBtn {
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

.menu {
    cursor: pointer;
    width: 70px;
}